@import "~bulma";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	outline: none;
}

strike,
del {
	text-decoration: line-through;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	height: 100vh;
}

.fields {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 24px;
	.radioGroup {
		display: flex;
		justify-content: flex-start;
		label.radio {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 30px;
			gap: 5px;
		}
	}
}

.messageField {
	width: 100%;
	.textControls {
		ul {
			display: flex;
			gap: 6px;
			width: 100%;
			flex-wrap: wrap;
			padding: 6px 0;
		}
	}
	textarea {
		width: 100%;
	}
}

.uploadArea {
	padding: 24px;
	margin: 24px 0;
	border-radius: 10px;
	border: 1px dashed #ccc;
	width: 100%;
	text-align: center;
}

// EMOJI PICKER

.emoji-invoker {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s;
}

.emoji-invoker span.button svg {
	// fill: #b1c6d0;
	opacity: 0.7;
}

.emoji-picker {
	position: absolute;
	z-index: 1;
	font-family: Montserrat;
	border: 1px solid #ccc;
	width: 15rem;
	height: 20rem;
	overflow: scroll;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 1px 1px 8px #c7dbe6;
}
.emoji-picker__search {
	display: flex;
}
.emoji-picker__search > input {
	flex: 1;
	border-radius: 10rem;
	border: 1px solid #ccc;
	padding: 0.5rem 1rem;
	outline: none;
}
.emoji-picker h5 {
	margin-bottom: 0;
	color: #b1b1b1;
	text-transform: uppercase;
	font-size: 0.8rem;
	cursor: default;
}
.emoji-picker .emojis {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.emoji-picker .emojis:after {
	content: "";
	flex: auto;
}
.emoji-picker .emojis span {
	padding: 0.2rem;
	cursor: pointer;
	border-radius: 5px;
}
.emoji-picker .emojis span:hover {
	background: #ececec;
	cursor: pointer;
}
